@use "../../shared/tms-styles.scss" as styles;

.content-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  height: 100%;

  @include styles.media(styles.$min-sm) {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/light-mobile-device-background-slightly-angled.png?alt=media&token=7a793819-4e4e-427f-939b-4f1f2038e8a4");
    background-size: 40%;
  }
}

.content-page-inner-container {
  max-width: 800px;
  background-color: white;
  margin: 0 25px;
  padding: 40px 20px;

  @include styles.media(styles.$min-xs) {
    margin: 0 40px;
    padding: 40px;
  }

  @include styles.media(styles.$min-sm) {
    margin: 0 60px;
    padding: 40px 80px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }
}

.content-page-title {
  font-size: styles.rem(30);
  margin-bottom: 40px;
  text-align: center;
}

.content-page-top-text {
  font-size: styles.rem(15);
}

.content-page-section-title {
  font-size: styles.rem(20);
  font-weight: 600;
  margin-top: 30px;
}

.content-page-paragraph {
  font-size: styles.rem(15);
  margin: 15px 0 0;
}

.content-page-tagline {
  margin-top: 30px;
  font-weight: 600;
  font-size: styles.rem(15);
}
