@use "../../../shared/tms-styles.scss" as styles;

.promo-card-container {
  color: white;
  background-image: linear-gradient(
    to bottom right,
    styles.$fall-red,
    styles.$fall-orange
  );
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.197);
}

.promo-card-title {
  font-weight: bold;
  font-family: "Zen Tokyo Zoo", system-ui;
  font-size: styles.rem(30);
}

.promo-card-description {
  font-size: styles.rem(16);
}

.promo-card-date {
  font-size: styles.rem(10);
  width: 100%;
  //   text-align: right;
  margin-top: 10px;
}
