@use "../../shared/tms-styles.scss" as styles;

.form-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.form-group {
  text-align: center;

  @include styles.media(styles.$min-xs) {
    text-align: left;
  }
}

.get-started-btn {
  margin: 20px 0 10px;
  font-size: styles.rem(18);
}

.get-started-major-label {
  width: 100%;
  margin-left: 8px;
  font-weight: 500;
  margin-top: 30px;
}

.get-started-first-major-label {
  margin-top: 10px;
}
