@use "../../shared/tms-styles.scss" as styles;

.our-story-paragraph {
  font-size: styles.rem(15);
  margin: 25px 0;
}

.cta-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
