@use "../../../../shared/tms-styles.scss" as styles;

.infographic-section-container {
  padding: 30px 5px;
  text-align: right;
  background-color: styles.$dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infographic-title {
  color: white;
  font-size: styles.rem(24);
  text-align: center;
  line-height: 1.25;

  @include styles.media(styles.$min-md) {
    font-size: styles.rem(30);
  }
}

.infographic-img {
  width: 100%;
  max-width: 900px;
  margin-bottom: 50px;
  margin-top: 37px;
  margin-left: 10px;
}
