@use "../../shared/tms-styles.scss" as styles;

.card-container {
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.card-background-blue {
  background-color: styles.$tms-blue;
  color: white;

  .card-badge {
    background-color: white;
    color: styles.$dark-grey;
  }
}

.card-background-dark-grey {
  background-color: styles.$dark-grey;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.197);

  .card-badge {
    background-color: white;
    color: styles.$dark-grey;
  }
}

.card-background-light-grey {
  background-color: styles.$extra-light-grey;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.197);

  .card-badge {
    background-color: styles.$tms-blue;
    color: white;
  }
}

.card-background-grey {
  background-color: styles.$light-grey;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.197);

  .card-badge {
    background-color: styles.$tms-blue;
    color: white;
  }
}

.card-background-black {
  background-color: black;
  color: white;

  .card-badge {
    background-color: white;
    color: styles.$dark-grey;
  }
}

.card-background-white {
  background-color: white;

  .card-badge {
    background-color: styles.$tms-blue;
    color: white;
  }
}

.card-badge {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: styles.rem(12);
  padding: 3px 15px 10px;
  font-weight: bold;
  clip-path: inset(0% 0% 0% 0% round 0% 0% 100% 100%);
}
