@use "../../../shared/tms-styles.scss" as styles;

.promo-banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center center, 0% 0%;
  background-size: auto, cover;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.promo-banner-winter {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/winter-scene-snow.png?alt=media&token=26d1a465-e37b-439a-9701-c42ed76464a6");

  &:hover {
    color: #458ac6;
  }
}

.promo-banner-fall {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/Fall%20leaves.png?alt=media&token=f9970be6-8575-4b1c-b386-3f3e995b3901");

  &:hover {
    color: #4f1900;
  }
}

.promo-banner-summer {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/flame-clip-art-no-background.png?alt=media&token=4993438f-d5e8-4dfb-b8b6-cd78b66eb3e2"),
    linear-gradient(to bottom right, rgba(255, 166, 0, 0.796));

  &:hover {
    color: styles.$tms-blue;
  }
}

.promo-banner-spring {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/spring-time-border.png?alt=media&token=f437f914-8170-4949-9742-64143154f204");

  &:hover {
    color: #f8e5ad;
  }
}

.promo-banner-title {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-size: styles.rem(30);
  font-weight: bold;
  text-align: center;

  @include styles.media(styles.$min-md) {
    font-size: styles.rem(40);
  }
}

promo-banner-asterisk .promo-subtitle {
  font-size: styles.rem(16);
}

.promo-banner-arrow {
  font-size: styles.rem(30);
}
