@use "../../../shared/tms-styles.scss" as styles;

.promo-banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/flame-clip-art-no-background.png?alt=media&token=4993438f-d5e8-4dfb-b8b6-cd78b66eb3e2"),
    linear-gradient(
      to bottom right,
      rgba(255, 166, 0, 0.796),
      rgba(255, 255, 0, 0.566)
    );
  background-position: center center, 0% 0%;
  background-size: auto, cover;
  color: white;

  &:hover {
    color: styles.$tms-blue;
  }
}

.promo-banner-title {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-size: styles.rem(30);
  font-weight: bold;
  text-align: center;

  @include styles.media(styles.$min-md) {
    font-size: styles.rem(40);
  }
}

promo-banner-asterisk .promo-subtitle {
  font-size: styles.rem(16);
}

.promo-banner-arrow {
  font-size: styles.rem(30);
}
