@use "../../../../shared/tms-styles.scss" as styles;

.hero-section-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/TMS-hero-image.png?alt=media&token=ae081bc6-698b-47de-baa0-9f540812041a");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.227);
    z-index: -1;
  }
}

.hero-inner-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 550px;
  display: flex;
  justify-content: flex-end;
}

.hero-content {
  width: 70%;
  padding: 0 50px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 30px;
}

.hero-title {
  font-size: styles.rem(48);
  line-height: 1.2;
  margin: 0 0 20px;
  color: styles.$dark-grey;
}

.hero-subtitle {
  width: 70%;
  margin: 20px 0;
  color: white;
}
