@use "../../../../shared/tms-styles.scss" as styles;

.hero-section-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/total-mobility-solution-6c7cc.firebasestorage.app/o/TMS-hero-image-alt.jpeg?alt=media&token=28d2d01f-0597-423c-bdae-bbf8c3757b61");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% center;
}

.hero-inner-container {
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include styles.media(styles.$min-sm) {
    flex-direction: row;
    align-items: normal;
  }
}

.hero-guarantee {
  margin-top: 10px;
  margin-bottom: 75px;
  margin-left: 30px;
  width: 125px;

  @include styles.media(styles.$min-sm) {
    margin-top: 35px;
    margin-bottom: 0;
    width: 150px;
  }
}

.hero-content {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 30px;
  color: white;

  @include styles.media(styles.$min-xs) {
    width: 70%;
  }

  @include styles.media(styles.$min-md) {
    width: 60%;
  }

  @include styles.media(styles.$min-lg) {
    width: 50%;
  }
}

.hero-background-box {
  background-color: #3b3b3bbe;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: styles.rem(35);
  line-height: 1.2;

  @include styles.media(styles.$min-xs) {
    font-size: styles.rem(40);
  }

  @include styles.media(styles.$min-md) {
    font-size: styles.rem(43);
  }
}

.hero-subtitle {
  width: 70%;
  font-size: styles.rem(14);
  margin: 10px 0 20px;

  @include styles.media(styles.$min-md) {
    font-size: styles.rem(16);
  }
}

.hero-section-cta {
  text-shadow: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
