@use "../../shared/tms-styles.scss" as styles;

.dashboard-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;

  &:hover {
    color: styles.$tms-blue;
  }
}

.dashboard-card {
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid styles.$grey;
  color: styles.$dark-grey;

  &:hover {
    border: 1px solid styles.$tms-blue;
    color: styles.$tms-blue;
  }
}

.dashboard-icon {
  //   color: styles.$darker-blue;
  font-size: 20px;
  margin: 5px 0 10px;
}
