@use "../../shared/tms-styles.scss" as styles;

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.section-back-btn-container {
  margin-bottom: 25px;
}

.section-back-icon {
  margin-right: 5px;
  transition: 0.25s;
}

.section-back-btn {
  position: absolute;
  top: 0;
  left: -20px;
  display: flex;
  align-items: center;
  padding: 15px 0 0;
  color: styles.$link-blue;

  @include styles.media(styles.$min-xs) {
    left: 0;
  }

  @include styles.media(styles.$min-sm) {
    left: 15%;
  }

  &:hover,
  &:focus {
    .section-back-icon {
      margin-left: -3px;
      margin-right: 13px;
    }
  }
}

.section-title {
  font-size: styles.rem(30);
  margin-bottom: 40px;
  text-align: center;
  max-width: 600px;
}
