@use "../../shared/tms-styles.scss" as styles;

%btn {
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: styles.rem(16);
}

.btn-primary {
  @extend %btn;
  background-color: styles.$tms-blue;
  color: white;
  border: 2px solid styles.$tms-blue;

  &:hover {
    background-color: white;
    color: styles.$tms-blue;
    border: 2px solid styles.$tms-blue;
  }
}

.btn-secondary {
  @extend %btn;
  background-color: white;
  color: styles.$dark-grey;
  border: 2px solid styles.$dark-grey;

  &:hover {
    background-color: styles.$tms-blue;
    color: white;
    border: 2px solid styles.$tms-blue;
  }
}

.btn-black {
  @extend %btn;
  color: white;
  background-color: styles.$dark-grey;
  border: 2px solid styles.$dark-grey;

  &:hover {
    background-color: white;
    color: styles.$dark-grey;
    border: 2px solid styles.$dark-grey;
  }
}

.btn-tertiary {
  color: styles.$link-blue;
  font-weight: normal;

  &:hover {
    color: styles.$link-blue-hover;
  }
}

.btn-primary-disabled,
.btn-secondary-disabled {
  @extend %btn;
  background-color: styles.$grey;
  color: white;
  border: 2px solid styles.$grey;

  &:hover {
    background-color: styles.$grey;
    color: white;
    border: 2px solid styles.$grey;
  }
}
