@use "../../shared/tms-styles.scss" as styles;

%btn {
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
}

.btn {
  cursor: pointer;
}

.btn-primary.btn-primary {
  @extend %btn;
  background-color: styles.$tms-blue;
  color: white;
  border: 2px solid styles.$tms-blue;

  &:hover {
    background-color: white;
    color: styles.$tms-blue;
    border: 2px solid styles.$tms-blue;
  }
}

.btn-secondary.btn-secondary {
  @extend %btn;
  background-color: white;
  color: styles.$tms-blue;
  border: 2px solid styles.$tms-blue;

  &:hover {
    background-color: styles.$tms-blue;
    color: white;
    border: 2px solid styles.$tms-blue;
  }
}
