@use "../../shared/tms-styles.scss" as styles;

.spares-section-container {
  min-height: 600px;
}

.spares-collapsible-container {
  width: 100%;
  max-width: 450px;
  margin-top: 50px;
}

.spares-device-info-container {
  font-size: 14px;
  margin: 5px 0 25px 30px;
  line-height: 1.75;
}

.spares-request-button {
  margin-top: 20px;
}

.spares-label-text {
  margin-left: 10px;
}

.spares-device-icon-green {
  color: styles.$green;
}

.spares-device-icon-grey {
  color: styles.$light-grey;
}

.spares-device-icon-blue {
  color: styles.$tms-blue;
}

.spares-modal-container {
  width: 80vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spares-modal-header {
  font-size: styles.rem(18);
}

.spares-modal-subheader {
  font-size: styles.rem(14);
  margin: 5px 0 20px 30px;
}
